.footer {
  background-color: #322592;
  width: 100%;
  height: 240px;
  bottom: 0;
  position: absolute;
  left: 0;
}

.sb__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb__footer-links_div {
  width: 20%;
  margin: rem;
  margin-left: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.sb__footer-links_div_1 {
  width: 20%;
  margin: rem;
  margin-left: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  margin-top: 5%;
}

a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}

p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

span {
  font-size: 30px;
}

@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .sb__footer-links div {
    margin: 1 rem 0;
  }

  .sb__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .sb__footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb__footer-below-links {
    flex-direction: column;
  }

  .sb__footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

