.footer {
  background-color: #322592;
  width: 100%;
  height: 150px;
  bottom: 0;
  position: absolute;
  left: 0;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the top */
}


.h3-footer {
  color: white;
  position: absolute;
  left: 5%;
  bottom: 60px;
}

.p-footer {
  color: white;
  position: absolute;
  left: 5%;
  bottom: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
}

/* p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.socialmedia {
  position: absolute;
  bottom: 30%;
  left: 89%;
  transform: translateX(-50%);

  display: flex; /* Use flexbox */
  
}

span {
  font-size: 30px;
}

@media (max-width: 850px) {
.p-footer{
  display:none;

}
  }

