/* div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-Items: center;
  height: 700px;
  background-color: #6364D5;
} */

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  position: relative; /* Remove this line */
  /* bottom: 0; */ /* Remove this line */
  width: 100%; /* Make sure the footer spans the whole width */
  background-color: #f5f5f5; /* Optional: background color for the footer */
  padding: 10px; /* Optional: Add some padding for better appearance */
  bottom: 0;
}

.favorites-container {
  width: 70%;
  margin: 0 auto; /* Center align the container */
  text-align: center;
}

.favorite-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgba(242, 240, 240, 1);
  height: fit-content;
  font-size: medium;
}

.favorite-column {
  flex: 1; /* Each column takes an equal amount of space */
  padding: 0 10px;
  text-align: center;
}

.favorite-column:nth-child(2) {
  /* Your styles here */
  /* For example: */
  text-align: left;
}

.icon {
  text-align: center;
}


